span{
    background-color: burlywood;
    font-size: 20px;
    color: white;
    margin-bottom: 1em;
    display: block;
    border-radius: 8px;
    height: 50px;
    padding: 10px;
    text-align: center;
}