
<br/>
<br/>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="">
        
          <span [hidden]="usuarioList.length > 0"> Cargango repositorios</span>
        
      </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usua of usuarioList; index as posicion">
        <th scope="row">{{posicion +1}}</th>
        <td>{{usua.nombre}}</td>
        <td>{{usua.username}}</td>
        <td>{{usua.email}}</td>
        <td><div class="btn-group" role="group" aria-label="Basic example">
            <button [disabled]="_usuarioService.obtenerIdentidad().rol === 'Rol_User'" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary" (click)="obtenerUsuarioId(usua._id)">Editar</button>
            <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modalEliminarUsuario" (click)="obtenerUsuarioId(usua._id)">Eliminar</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalVerUSuario" class="btn btn-primary" (click)="obtenerUsuarioId(usua._id)">Ver</button>
          </div></td>
      </tr>
    </tbody>
  </table>

  <!-- Modal Editar Usuario-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 
        <form>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email"
            #email="ngModel" [(ngModel)]="usuarioIdModel.email">
          </div>
          <div class="mb-3">
            <label for="inputUsuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario" 
            name="username" #username="ngModel" [(ngModel)]="usuarioIdModel.username">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="inputNombre" 
            name="nombre" #nombre="ngModel" [(ngModel)]="usuarioIdModel.nombre">         
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)=" editarUSuario()" data-bs-dismiss="modal">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal ver Usuario-->
<div class="modal fade" id="modalVerUSuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerUSuario">Ver Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 
        <form>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input disabled type="email" class="form-control" id="inputEmail" name="email"
            #email="ngModel" [(ngModel)]="usuarioIdModel.email">
          </div>
          <div class="mb-3">
            <label for="inputUsuario" class="form-label">Usuario</label>
            <input disabled type="text" class="form-control" id="inputUsuario" 
            name="username" #username="ngModel" [(ngModel)]="usuarioIdModel.username">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input disabled type="email" class="form-control" id="inputNombre" 
            name="nombre" #nombre="ngModel" [(ngModel)]="usuarioIdModel.nombre">         
          </div>
          <div class="mb-3">
            <label for="inputRol" class="form-label">Rol</label>
            <input disabled type="text" class="form-control" id="inputRol" 
            name="rol" #rol ="ngModel" [(ngModel)]="usuarioIdModel.rol">         
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Usuario-->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEliminarUsuario">Eliminar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estas seguro de eliminar el usuario {{usuarioIdModel.nombre}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
        (click)="eliminarUsersAdmin(usuarioIdModel._id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
      
    </div>
</div>


